* {
  box-sizing: border-box;
}

:root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
  font-size: 22px;
  --navbar-primary-color: #066d;
  --navbar-secondary-color: #f3f3f3;
  --form-color-1: #333;
}

.navbar {
  background-color: var(--navbar-primary-color, #333);
}

.navbar .navbar-brand {
  color: var(--navbar-secondary-color, #fff);
  font-size: 22px;
}

.clear-all-btn {
  color: #e3e3e3;
  border-radius: 0.3em;
  padding: 7px 12px !important;  
  font-size: 18px; 
}

.clear-all-btn:hover {
  color: #e3e3e3;
  text-decoration: underline;
}

.messages-container {
  margin-top: 0.8em;
  font-size: 17px;  
}

.messages-container .alert {
  padding: 7px 18px;
}

.loading-container {
  display: none;
}

.loading-container img {
  margin: 0 auto;
  display: block;
  position: relative;
  height: 244px;
}

.loading-container p {
  text-align: center;
  line-height: 70px;
  margin: 0;
}

.form-container {
  padding: 23px 25px 32px;
  border-radius: 0.3em;
  box-shadow: #e3e3e3 3px 2px 7px 3px;
}

.form-container .form-title {
  color: var(--form-color-1, #000);
  font-size: 28px;
}

.form-container input {
  border: 0;
  border-bottom: 3px solid #888;
  padding: 7px 12px;
  font-size: 17px;
  width: 100%;
  margin-top: 32px;
}

.form-container .button-container {
  display: inline-block;
  margin: 35px auto 0;
}

.form-container .button-container button {
  color: #f3f3f3;
  font-size: 16px;
  opacity: 0.8;
  padding: 0.4em 0.7em;
  border-radius: 0.2em;
  border: 0;
  cursor: pointer;
}
.form-container .button-container button:hover {
  box-shadow: #888 3px 3px 5px;
}

.form-container .add-btn {
  background-color: #4747d1;
}

.form-container .update-btn {
  background-color: #23a072;
  display: none;
}

.form-container .delete-btn {
  background-color: #f55;
  display: none;
}

.form-container .back-btn {
  background-color: #64505a;
  display: none;
}

.total-calories-header {
  text-align: center;
  margin: 1em auto 0.4em;
  font-size: 19px;
}

.total-calories {
  font-size: 20px;
}

.meals-list {
  margin: 1em auto 0;
  list-style: none;
  font-size: 16px;
  border-top: 1px solid #e0e0e0;
  padding: 0;
}

.meals-list li {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
  line-height: 1.5rem;
}

.meals-list li:nth-child(odd) {
  background-color: #ffffff;
}

.meals-list li:nth-child(even) {
  background-color: #f4f4f4bb;
}


.meals-list i {
  line-height: 1.5rem;
  float: right;
}

/* Medium to Large */
@media(min-width: 768px) {
  
}

/* Large and Beyond */
@media(min-width: 992px) {

}